# Ignora tutte le directory di build Rust
/target/
/zion-core/Cargo.lock
/zion-core/target/
/blockrock-core/target/
/venv/
/.env
# Ignora file di ambiente e log
.env
*.log
nohup.out
*.tmp
output-directory

# Ignora file temporanei di editor
*~
*.swp
*.swo

# Ignora file di build Android (se usati)
android-ndk-*.zip

# (Non ignorare Cargo.toml o Cargo.lock!)





















zion-core/src/blockrock_descriptor.bin
nexus/
venv/
